::root {
    --bs-font-monospace: "Roboto Mono", monospace; !important
    --bs-body-font-family: "Roboto Mono", monospace; !important
}

.tooltip {
    font-family: "Roboto Mono", monospace; !important
}

.popover {
    font-family: "Roboto Mono", monospace; !important
}
