@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    color: white;
    font-family: 'Roboto', sans-serif;
}

#navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    background: white;
}

#navbar a {
    padding: 3.5vh 3.5vh;
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
}

#navbar a:hover {
    background-color: #888888;
}

.custom-shape-divider-top-1632265249 {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
